<div class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand">{{#linkTo "messages"}}ktmt logs{{/linkTo}}</div>
      <div class="count-users">Online users: {{view.user.totalUsers}}</div>
    </div>
  </div>
</div>

<div class="container-fluid" id="main">
  {{outlet}}
</div>
